html, body {
    border: 0;
    background-color: #ccc;
    margin: auto;
    padding: 0;
}

.bg {
    /* Center and scale the image nicely */
    background-image: url("../images/nfl.gif");
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-size: cover; -ms-background-size: cover; -o-background-size: cover; -moz-background-size: cover ;-webkit-background-size: cover;
    background-position: center; 
    height: auto;
    max-width: 800px;
    min-width: 350px;
}