html, body {
    border: 0;
    height: 100vh;
    margin: 0;
    min-width: 400px;
    padding: 0;
}

.bg {
    /* Center and scale the image nicely */
    background-image: url("../images/nfl.gif");
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-size: cover; -ms-background-size: cover; -o-background-size: cover; -moz-background-size: cover ;-webkit-background-size: cover;
    background-position: center; 
    height: 100vh;
    overflow: auto;
}

.info {
    font-family: “Lucida Console”, Monaco, monospace;
    margin-left: 20px;
}