body, htm {
    height: 100%;
}

.bg {
    /* The image used */
    background-image: url("../images/nfl.gif");

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Full height */
    height: 100%; 

    opacity: .5;
}

.contrast { 
    background-color: white;
    color: black; 
    padding: 0.5rem;
    width: 30%;
}